<% if @infos.any? %>
  <% @infos.each do |info| %>
  <%= link_to info.places, trip_info_path(@trip, :id) %>
  <br/>
  <% end %>
<% else %>
  <h1>No Current info</h1>
<% end %>
<%= link_to 'Add More Info', new_trip_info_path(@trip, @info) %>
